" vim: nospell foldmethod=manual foldlevel=0

set nocompatible  		              " No vi compatible: add more functionalities

set number			                  " Show line number
set relativenumber		              " Line number are relative to current line
set numberwidth=1                     " line numbers columns

set ruler                             " Show line and column number
set showcmd                           " Show command  (last screen line)
set cursorline                        " Underline current line
set showmatch                         " Show match bracket, parentheses, etc

set mousehide			              " Hide mouse pointer when typing
set mouse=a                           " Enable mouse on (a)ll modes

set autoindent			              " Copy indent level from previous line
set expandtab                         " Use 'shiftwidth' spaces as tab
set softtabstop=4                     " Spaces number that are inserted/deleted if <tab> is pressed or deletedk
set shiftwidth=4                      " Spaces inserted for when indent
set tabstop=4

set clipboard=unnamed                 " Use system clipboard
set encoding=utf-8                    " Character enconding
set t_Co=256			              " Number of colors
set notermguicolors                   " Color 24 bits

set spell                             " spell on
syntax on			                  " Syntax highlight
filetype plugin indent on	          " Enable detection of file type that is edited  (auto detect filetype and indent based on plugin)
set background=dark
" colorscheme desert                    " Set colorscheme

set nowrap                            " No wrap long line
set hidden                            " Change buffer without save
set incsearch                         " Incremental searching
set ignorecase                        " Searches are case insensitive
set smartcase   		              " Unless they contain at least one capital letter
set laststatus=2                      " Show status bar
set history=1000                      " command line history
set backup                            " backup file
set undofile                          " Save undo history
set undolevels=1000                   " Number of changes that can be undone
set undoreload=10000                  " Number of lines to save for undo on a buffer reload
set backspace=indent,eol,start        " Allow delete before insertion point
set nojoinspaces                      " Avoid double space on joined line
set splitright                        " Open vertical window on right side
set splitbelow                        " Open horizontal window on bottom
set modeline                          " Enable read file modeline

" Create folders and files if no exists
if !filereadable(expand("~/.vim/viminfo")) | silent! execute "!touch ~/.vim/viminfo" | endif
if !isdirectory($HOME."/.vim/undo") | silent! execute "!mkdir ~/.vim/undo" | endif
if !isdirectory($HOME."/.vim/backup") | silent! execute "!mkdir ~/.vim/backup" | endif
if !isdirectory($HOME."/.vim/swap") | silent! execute "!mkdir ~/.vim/swap" | endif
if !isdirectory($HOME."/.vim/view") | silent! execute "!mkdir ~/.vim/view" | endif

set viminfo+='1000,n~/.vim/viminfo
set directory=~/.vim/swap
set undodir=~/.vim/undo
set backupdir=~/.vim/backup
set viewdir=~/.vim/view

augroup remember_folds
  autocmd!
  autocmd BufWinLeave * mkview
  autocmd BufWinEnter * silent! loadview
augroup END

autocmd BufWritePre * %s/\s\+$//e     " Delete trailing whitespaces
