" vim: nospell

set encoding=utf-8
set termguicolors

let ayucolor="dark"
colorscheme ayu

" colorscheme gruvbox9_hard

" let g:airline_extensions = ['branch', 'tabline']
let g:airline_theme='base16_gruvbox_dark_hard'
let g:airline_theme='ayu_dark'
let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1
let g:airline#extensions#tabline#fnamemod = ':t'                                                        " Show just the filename
if !exists('g:airline_symbols') | let g:airline_symbols = {} | endif

let g:airline_right_sep = ''
let g:airline_right_alt_sep = ''
let g:airline_left_alt_sep = ''
let g:airline_left_sep = ''
let g:airline_symbols = {
    \'linenr': ' ☰ ',
    \'paste': 'Paste',
    \'maxlinenr': ' ',
    \'keymap': 'Keymap:',
    \'crypt': '🔒',
    \'dirty': '⚡',
    \'readonly': '',
    \'spell': 'SPELL',
    \'modified': '+',
    \'notexists': 'Ɇ',
    \'space': ' ',
    \'whitespace': 'Ξ',
    \'branch': '',
    \'ellipsis': '...' }
autocmd VimEnter * AirlineRefresh

" Fold based on syntax file (polyglot plugin)
let javaScript_fold=1
let php_folding=1
let sh_fold_enabled=1
let vimsyn_folding='af'
let xml_syntax_folding=1

" vim-cpp-enhanced-highlight
let g:cpp_class_scope_highlight = 1
let g:cpp_member_variable_highlight = 1
let g:cpp_class_decl_highlight = 1

" syntastic
let g:syntastic_cpp_checkers = ['cpplint']
let g:syntastic_c_checkers = ['cpplint']
let g:syntastic_cpp_cpplint_exec = 'cpplint'
let g:syntastic_check_on_open = 1
let g:syntastic_check_on_wq = 0

" nerdtree
let NERDTreeShowBookmarks=1
let NERDTreeChDirMode=0
let NERDTreeQuitOnOpen=1
let NERDTreeMouseMode=2
let NERDTreeShowHidden=1
let NERDTreeKeepTreeInNewTab=1
let g:nerdtree_tabs_open_on_gui_startup=0

" nerdcommenter
let g:NERDSpaceDelims = 1                                                                                   " Add spaces after comment delimiters by default
let g:NERDCompactSexyComs = 1                                                                               " Use compact syntax for prettified multi-line comments
let g:NERDDefaultAlign = 'left'                                                                             " Align line-wise comment delimiters flush left instead of following code indentation
let g:NERDAltDelims_java = 1                                                                                " Set a language to use its alternate delimiters by default
let g:NERDCustomDelimiters = { 'c': { 'left': '/**','right': '*/', 'leftAlt': '//', 'rightAlt': '' } }      " Add your own custom formats or override the defaults
let g:NERDCommentEmptyLines = 1                                                                             " Allow commenting and inverting empty lines (useful when commenting a region)
let g:NERDTrimTrailingWhitespace = 1                                                                        " Enable trimming of trailing whitespace when uncommenting
let g:NERDToggleCheckAllLines = 1                                                                           " Enable NERDCommenterToggle to check all selected lines is commented or not

" rainbow braces
let g:rainbow_active = 1

" indentLine
let g:indentLine_char = ''
let g:indentLine_first_char = ''
let g:indentLine_showFirstIndentLevel = 1
let g:indentLine_setColors = 1

